
body{
    background-color: rgb(241, 223, 223);
}


*{
    font-family:Arial, Helvetica, sans-serif;
}


h1{
    background-color: rgb(230, 76, 76);
    text-align: center;
    color:white;

}


ul{

    font-size: 20px;    
}


a{

   color: black;
   text-decoration: none;
   transition:color 0.3s;

}



a:hover{
    color: red;
}